@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  /* border: 0.1px solid red; */
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: poppins, sans-serif;
  height: 100%;
  width: 100%;
  color: #222;
  background-color: lightslategray;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  text-align: center;
  font-size: 1.2em !important;
  font-weight: 700;
}
.nav-link::first-letter {
  color: firebrick;
}
.navbar-brand {
  width: 200px;
  height: 60px;
  font-size: 30px;
  font-weight: 700;
  color: darkslategray;
  text-shadow: 1px 1px 2px #000;
}
.navbar-brand::first-letter {
  color: firebrick;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.photo-container {
  padding: 50px;
}
.pic {
  width: 400%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: dimgrey;
  background-color: #222;
  box-shadow: black 5px 5px 20px;
}
.carousel-inner {
  height: 500px;
}
@media (max-width: 500px) {
  .carousel-inner {
    height: 300px;
  }
}
.carousel-item img {
  height: 100%;
}


@media (min-width: 350px) {
  .carousel-inner img {
    width: 100%;
    height: 500px;
  }
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  text-shadow: 1px 1px 10px #000;
}
.btn-outline {
  border: 1px solid #fff;
  color: #fff;
  text-shadow: 1px 1px 4px #000;
}
.btn-outline:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  text-shadow: 1px 1px 4px #000;
}

.display-2 {
  align-self: center;
}
.display-2:first-letter {
  color: firebrick;
  text-shadow: 3px 3px 10px #000;
}
@media (max-width: 450px) {
  .carousel-caption .display-2 {
    font-size: 3em;
    transform: translateY(-90%);
  }
}
.jumbotron {
  padding: 1em;
  border-radius: 0;
  margin: 0 auto;
  margin-top: 20px;
  width: 75%;
  box-shadow: 2px 2px 5px #999;
}
@media (max-width: 500px) {
  .jumbotron {
    width: 100%;
  }
}
.padding {
  padding-bottom: 2em;
}
.alert {
  width: 75%;
  margin: 0 auto;
  padding-top: 2em;
}
@media (max-width:500px){
    .alert {
  width: 100%;
  font-size: 1em;
  
}
}
.alert hr {
  border-top: 2px solid silver;
  width: 95%;
  margin-top: 0.3em;
  margin-bottom: 1em;
}

.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}
.fa-css3 {
  color: #2163af;
}
.fa-code,
.fa-bold,
.fa-css3 {
  font-size: 4em;
  margin: 1em;
}
@media (max-width: 500px) {
  .display-4 {
    font-size: 35px;
  }
}
.green {
  text-align: center;
}
.copy{
  font-weight: 700;
  margin: 5px;
}
.copy::first-letter{
  color: firebrick;
}



